<h1>投稿詳細</h1>

<table class="table">
  <thread>
    <tr>
      <th>タイトル</th>
      <th>内容</th>
      <th>画像</th>
    </tr>
  </thread>
  <tbody>
      <tr>
          <td><%= @post.title %></td>
          <td><%= @post.body %></td>
          <td><%= attachment_image_tag(@post, :image, width:"150px", height:"150px",fallback: "no_image.jpg", format: 'jpeg') %>
          <% @post.tags.each do |tag| %>
          <div class="tag-box">
          <span class="label"><%= tag.name %></span></div>
          <% end %></td>
      </tr>
  </tbody>
</table>

<%= link_to "編集する", new_public_post_path(@post.id), class: 'btn btn-success' %>
<%= link_to "削除", public_post_path(@post.id), method: :delete, "data-confirm" => "本当に削除しますか？", class: 'btn btn-danger' %>
<%= link_to "投稿一覧へ戻る", public_posts_path, class: 'btn btn-outline-secondary'%>